﻿#searchButton {
    background-color: #4B0BBC;
    color: white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    box-shadow: 5px 5px 25px;
}

footer {
    box-shadow: inset 0px 12px 25px;
    text-align: center;
}

.headerImg {
    width: 20rem;
}

.carousel {
    text-align: center;
    font-family: 'acumin-pro';
    border-radius: 100%;
}

    .carousel image {
        padding: 0.5rem;
    }

.home-header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background-color: #4B0BBC;
    overflow-x:hidden;
}

.container {
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-size: small;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group TextBox {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group > TextBox,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.header-intro {
    width: 20%;
}

.home-Jasuvis-text {
    white-space: nowrap;
    padding: .5rem 1rem;
}

.home-rec {
    background-color: #fff;
    box-shadow: 0px -5px 25px;
    width: 100%;
}

.rec-text {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    opacity: 60%;
    text-align: center;
    padding-top: 1.5rem;
    font-size: large;
    /*    box-shadow: -5px -5px 25px;*/
}

.carousel {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
}

.form-control.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
    margin-top: 1.5rem;
}

.regis {
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin-bottom: 1rem;
}

label.error {
    margin-top: 0.6rem;
    text-align: left;
    padding-left: 0;
    font-size: small;
    color: red;
}

svg.bi.bi-envelope-fill {
    color: white;
}

.sp-work {
    font-family: 'acumin-pro';
    font-size: small;
    font-weight: 200;
}

.card.sp-card {
    padding: 0.6rem;
    width: 10rem;
    box-shadow: #4b0bbc 0px 1px 7px 1px;
    border-radius: 0.5rem;
}

.card.Exsp-card {
    padding: 0.6rem;
    width: 10rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

sp-tname {
    font-size: medium;
    font-family: 'acumin-pro';
    font-weight: bold;
    opacity: 70%;
}

.sp-image {
    border-radius: 5rem;
    margin: 0.5rem;
}

.explore-car {
    margin: 0;
    padding-top: 3.5rem;
}


.category-menu {
    background-color: #4B0BBC;
}

.explore-body, .spDetail {
    display: flex;
}

.list-group-item {
    background-color: #4B0BBC;
    font-family: 'Bebas Neue', Arial;
    color: white;
    border-color: white;
}

.spDetail img {
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
}

.spDetail {
    margin-top: 2vw;
    margin: 50px 50px 20px 50px;
}

.spDesc {
    display: flex;
    flex-direction: column;
}

.spProfile, .spRating {
    display: flex;
    margin: 0px 50px 20px 50px;
    flex-direction: column;
    justify-content: center;
}

.spName {
    font-weight: bold;
}

.spBtn {
    display: flex;
    margin: 0px 50px 20px 50px;
    flex-direction: column;
    justify-content: center;
}

.sp {
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    border: 0;
    border-top: solid 1px black;
    width: 76vw;
}

#tr-hr {
    margin-top: 0.1rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    border: 0;
    border-top: solid 1px purple;
    width: 110vw;
}

.wrapper {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spRating {
    align-items: center;
    margin-left: 12vw;
}

.spBtn .btn {
    margin: 40px 0 40px;
}

.spDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spDesc, .spReview {
    position: absolute;
    margin: 0px 310px 20px 0px;
    word-break: break-word;
    left: 450px;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.Popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    padding-top: 40px;
    width: 450px;
}

#Panel1 .Popup {
    height: 450px;
}

.Popsp-image {
    max-width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.card.popsp-card {
    padding: 0.6rem;
    width: 10rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

.transparentButton {
    background-color: transparent;
    border: none;
}

.tr {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.tr-spDetail img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
}

.tr-spDetail {
    margin-top: 2vw;
    margin: 50px 50px 20px 50px;
}

.tr-Detail {
    margin-top: 5vw;
    margin-right: 3vw;
    text-align: center;
}

.tr-spProfile {
    display: flex;
    margin: -80px 50px 20px 140px;
    flex-direction: column;
    justify-content: center;
}
